{% load static %}
  <!-- HomePage/index.html -->
<!DOCTYPE html>
<html>
<header>
    <!-- Include Navbar -->
    {% include 'navbar.html' %}
</header>
<body>
  <!-- Main Content Block -->
  <main>
    <div class="section quick-dinner-recipes">
      <div class="recipe-banner">
        <h1>QUICK & EASY DINNER RECIPES</h1>
        <a href="{% url 'recipe_cuisine' %}" class="see-all-btn">SEE THEM ALL</a>
      </div>
    </div>
    <div class="section">
      <h2>What We're You Craving</h2>
      <div class="recipe-list">
        {% for recipe in recipes %}
          <div class="recipe-container">
            <a href="{% url 'recipe_detail' recipe.id %}">
              <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
              <div class="alt-text">{{ recipe.title }}</div>
            </a>
          </div>
        {% empty %}
          <p>No recipes available at the moment. Check back later!</p>
        {% endfor %}
      </div>
    </div>
    </div>
    <div class="section">
      <h2>Explore More</h2>
      <div class="explore-container">
        <a href="{% url 'recipe_by_category' 'Comfort Food' %}">
          <img src="{% static 'images/comfort food.png' %}" alt="Comfort Food">
          <p>Comfort Food</p>
        </a>
        <a href="{% url 'recipe_by_category' 'International Eats' %}">
          <img src="{% static 'images/international food.jpg' %}" alt="International Eats">
          <p>International Eats</p>
        </a>
        <a href="{% url 'recipe_by_category' 'Breakfast & Brunch' %}">
          <img src="{% static 'images/breakfast & brunch.jpg' %}" alt="Breakfast & Brunch">
          <p>Breakfast & Brunch</p>
        </a>
        <a href="{% url 'recipe_by_category' 'Community Picks' %}">
          <img src="{% static 'images/community picks.jpg' %}" alt="Community Picks">
          <p>Community Picks</p>
        </a>
      </div>
    </div>
  </main>
  </body>
  {% include 'footer.html' %}
  </html>
  