{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Foodie{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  {% block css %}{% endblock %}
</head>
<body>

  <!-- Include Navbar -->
  {% include 'navbar.html' %}

  <!-- Main Content Block -->
  <main>
    <div class="section quick-dinner-recipes">
      <div class="recipe-banner">
        <h1>QUICK & EASY DINNER RECIPES</h1>
        <a href="{% url 'recipe_cuisine' %}" class="see-all-btn">SEE THEM ALL</a>
      </div>
    </div>
    <div class="section">
      <h2>What We're You Craving</h2>
      <div class="recipe-list">
        <div class="recipe-container">
          <img src="{% static 'images/Prawn Spaghetti.jpg' %}" alt="Prawn Spaghetti">
          <div class="alt-text">Prawn Spaghetti</div>
        </div>
        <div class="recipe-container">
          <img src="{% static 'images/Garlic Chicken.jpg' %}" alt="Garlic Chicken">
          <div class="alt-text">Garlic Chicken</div>
        </div>
        <div class="recipe-container">
          <img src="{% static 'images/Salmon.jpg' %}" alt="Pan-Fried Salmon">
          <div class="alt-text">Pan-Fried Salmon</div>
        </div>
      </div>
    </div>
    <div class="section">
      <h2>Explore More</h2>
      <div class="explore-container">
        <a href="{% url 'recipes_by_category' 'Comfort Food' %}">
          <img src="{% static 'images/comfort food.png' %}" alt="Comfort Food">
          <p>Comfort Food</p>
        </a>
        <a href="{% url 'recipes_by_category' 'International Eats' %}">
          <img src="{% static 'images/international food.jpg' %}" alt="International Eats">
          <p>International Eats</p>
        </a>
        <a href="{% url 'recipes_by_category' 'Breakfast & Brunch' %}">
          <img src="{% static 'images/breakfast & brunch.jpg' %}" alt="Breakfast & Brunch">
          <p>Breakfast & Brunch</p>
        </a>
        <a href="{% url 'recipes_by_category' 'Community Picks' %}">
          <img src="{% static 'images/community picks.jpg' %}" alt="Community Picks">
          <p>Community Picks</p>
        </a>
      </div>
    </div>
    {% include 'footer.html' %}
  </main>
  </body>
  </html>
  
